:root{
    --color1: #FFEF82;
    --color2: #EFD345;
    --color3: #BABD42;
    --color4: #82954B;
}

body{
    background: black;
}
.container{
    color: white;
    font-size: 100px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding: 20px;
    text-align: center;
}

#hour{
    background: -webkit-linear-gradient(var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sc1{
    background: -webkit-linear-gradient(var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#minute{
    background: -webkit-linear-gradient(var(--color3), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sc2{
    background: -webkit-linear-gradient(var(--color2), var(--color1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#second{
    background: -webkit-linear-gradient(var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}